services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: devdocs_ai_frontend
    ports:
      - '8080:8080'
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - devdocs_ai_network

networks:
  devdocs_ai_network:
    driver: bridge
